In [23]:
import seaborn as sbn
import numpy as np 
import pandas as pd

In [24]:
df=sbn.load_dataset('iris')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [25]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [26]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [27]:
df1=df[df['species']!='setosa']

In [28]:
df1

     sepal_length  sepal_width  petal_length  petal_width     species
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
..            ...          ...           ...          ...         ...
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

[100 rows x 5 columns]

In [29]:
df1['species'].unique()

array(['versicolor', 'virginica'], dtype=object)

In [30]:
df1['species'].map({'versicolor':0,'virginica':1})

50     0
51     0
52     0
53     0
54     0
      ..
145    1
146    1
147    1
148    1
149    1
Name: species, Length: 100, dtype: int64

In [31]:
df1

     sepal_length  sepal_width  petal_length  petal_width     species
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
..            ...          ...           ...          ...         ...
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

[100 rows x 5 columns]

In [32]:
df1['species']=df1['species'].map({'versicolor':0,'virginica':1})

C:\Users\priya\AppData\Local\Temp\ipykernel_1284\4235581281.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['species']=df1['species'].map({'versicolor':0,'virginica':1})

In [35]:
df1

     sepal_length  sepal_width  petal_length  petal_width  species
50            7.0          3.2           4.7          1.4        0
51            6.4          3.2           4.5          1.5        0
52            6.9          3.1           4.9          1.5        0
53            5.5          2.3           4.0          1.3        0
54            6.5          2.8           4.6          1.5        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        1
146           6.3          2.5           5.0          1.9        1
147           6.5          3.0           5.2          2.0        1
148           6.2          3.4           5.4          2.3        1
149           5.9          3.0           5.1          1.8        1

[100 rows x 5 columns]

In [37]:
X=df1.iloc[:,:-1]
Y=df1.iloc[:,-1]

In [38]:
X

     sepal_length  sepal_width  petal_length  petal_width
50            7.0          3.2           4.7          1.4
51            6.4          3.2           4.5          1.5
52            6.9          3.1           4.9          1.5
53            5.5          2.3           4.0          1.3
54            6.5          2.8           4.6          1.5
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[100 rows x 4 columns]

In [39]:
Y

50     0
51     0
52     0
53     0
54     0
      ..
145    1
146    1
147    1
148    1
149    1
Name: species, Length: 100, dtype: int64

In [46]:
from sklearn.model_selection  import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25,random_state=42,shuffle=True)
print(X_train)
print(X_test)
print(Y_train)
print(Y_test)

     sepal_length  sepal_width  petal_length  petal_width
65            6.7          3.1           4.4          1.4
90            5.5          2.6           4.4          1.2
146           6.3          2.5           5.0          1.9
59            5.2          2.7           3.9          1.4
122           7.7          2.8           6.7          2.0
..            ...          ...           ...          ...
110           6.5          3.2           5.1          2.0
121           5.6          2.8           4.9          2.0
64            5.6          2.9           3.6          1.3
142           5.8          2.7           5.1          1.9
101           5.8          2.7           5.1          1.9

[75 rows x 4 columns]
     sepal_length  sepal_width  petal_length  petal_width
133           6.3          2.8           5.1          1.5
103           6.3          2.9           5.6          1.8
120           6.9          3.2           5.7          2.3
95            5.7          3.0           4.2          1.2
94            5.6          2.7           4.2          1.3
89            5.5          2.5           4.0          1.3
72            6.3          2.5           4.9          1.5
130           7.4          2.8           6.1          1.9
60            5.0          2.0           3.5          1.0
50            7.0          3.2           4.7          1.4
68            6.2          2.2           4.5          1.5
80            5.5          2.4           3.8          1.1
123           6.3          2.7           4.9          1.8
83            6.0          2.7           5.1          1.6
140           6.7          3.1           5.6          2.4
54            6.5          2.8           4.6          1.5
126           6.2          2.8           4.8          1.8
127           6.1          3.0           4.9          1.8
62            6.0          2.2           4.0          1.0
81            5.5          2.4           3.7          1.0
105           7.6          3.0           6.6          2.1
138           6.0          3.0           4.8          1.8
76            6.8          2.8           4.8          1.4
92            5.8          2.6           4.0          1.2
119           6.0          2.2           5.0          1.5
65     0
90     0
146    1
59     0
122    1
      ..
110    1
121    1
64     0
142    1
101    1
Name: species, Length: 75, dtype: int64
133    1
103    1
120    1
95     0
94     0
89     0
72     0
130    1
60     0
50     0
68     0
80     0
123    1
83     0
140    1
54     0
126    1
127    1
62     0
81     0
105    1
138    1
76     0
92     0
119    1
Name: species, dtype: int64

In [47]:
from sklearn.linear_model import LogisticRegression

In [48]:
clas=LogisticRegression()

In [50]:
clas.fit(X_train,Y_train)

LogisticRegression()

In [52]:
clas.score(X_train,Y_train)

0.9733333333333334

In [55]:
y_pre=clas.predict(X_test)

In [65]:
from sklearn.metrics import accuracy_score, classification_report

In [66]:
s = accuracy_score(y_pre,y_test)
print(s)

0.92

In [67]:
print(classification_report(y_pre,y_test))

              precision    recall  f1-score   support

           0       0.93      0.93      0.93        14
           1       0.91      0.91      0.91        11

    accuracy                           0.92        25
   macro avg       0.92      0.92      0.92        25
weighted avg       0.92      0.92      0.92        25

In [68]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression

In [69]:
css=LogisticRegression()

In [74]:
par={'penalty':['l1','l2', 'elasticnet' ],'C':[1,1,1,1,2,3,4,5,6,7,8,11,12,23,44,46,54,12,16],'max_iter':[100,200,300]}

In [75]:
classif_gs=GridSearchCV(css,param_grid=par,scoring='accuracy',cv=10)

In [76]:
classif_gs.fit(X_train,Y_train)

C:\Users\priya\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
1140 fits failed out of a total of 1710.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
570 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\priya\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\priya\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\priya\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 447, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

--------------------------------------------------------------------------------
570 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\priya\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\priya\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\priya\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 447, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got elasticnet penalty.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\priya\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [  nan 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan
   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan
   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan
   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan
   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan
   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan
   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan
   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan
   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan
   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan
   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan
   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan
   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan
   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan   nan 0.975   nan
   nan 0.975   nan]
  warnings.warn(

GridSearchCV(cv=10, estimator=LogisticRegression(),
             param_grid={'C': [1, 1, 1, 1, 2, 3, 4, 5, 6, 7, 8, 11, 12, 23, 44,
                               46, 54, 12, 16],
                         'max_iter': [100, 200, 300],
                         'penalty': ['l1', 'l2', 'elasticnet']},
             scoring='accuracy')

In [77]:
print(classif_gs.best_params_)

{'C': 1, 'max_iter': 100, 'penalty': 'l2'}

In [78]:
print(classif_gs.best_score_)

0.975